*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
}
.head{
	height: 40px;
	width: 100%;
	background-color: rgb(18,119,220);
	font-size: 14px;
	line-height: 40px;
	color: white;
}
.head .box{
	width: 1200px;
	margin: auto;
}
.load,.reg{
	display: block;
	float: right;
	width: 104px;
	text-align: center;
}
.load:hover{
	background-color: white;
	color: black;
	cursor: pointer;
}
.reg:hover{
	background-color: white;
	color: black;
	cursor: pointer;
}
.content{
	height: 1000px;
	background-color:#f9f9f9;
}
.nav{
	height:100px;
	width: 1200px;
	margin: auto;
}
.nav ul{
	list-style: none;
	float: right;
	margin-right: 2px;
}
.nav li{
	display: block;
	float: left;
	font-size: 16px;
	height: 48px;
	text-align: center;
	background-color:white;
	padding: 0 10px;
	line-height: 48px;
	margin: 26px 0 26px 60px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px grey;

}
.nav li:hover{
	color: white;
	background-color: rgb(18,119,220);
	cursor: pointer;
}
.main{
	background-color: white;
	height: 1000px;
	margin: auto;
	width: 1200px;
}
.line{
	height: 71px;
	width:640px;
	float: right;
}
.main .box{
	height: 71px;
	width:100%;
	margin: 37px 0 20px 0;
}
.longThing{
	width:160px;
	height: 5px;
	border-radius: 2.5px;
	background-color:rgb(255,127,0);
	position:absolute;
	top: 11px;   
	z-index: 2;
}
.circle{
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	line-height: 25px;
	font-size: 16px;
	color: white;
	background-color:rgb(255,127,0);
	text-align: center; 
	z-index: 3;
	position: absolute;
	left:67.5px;
}
.combine1,.combine2,.combine3,.combine4{
	width:160px;
	height: 71px; 
	background-color: white;
	text-align: center;
	position: relative;
	float: left;
}

.main .box span{
	font-size:18px;
	color:rgb(255,127,0); 
	position: absolute;
	top: 30px;
	right: 40px;
}
h2{
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 2px solid rgb(18,119,220);
}
.main form{
	width: 1200px;
	height: 794px;
	border: 1px solid #e7e7e7;
	margin-bottom: 56px;
}
.main table {
	font-size: 18px;
	width: 100%;
	border: 1px solid #e7e7e7;
}
.main table td{
	background-color: rgb(251,252,255);
}
.main table th{
	height: 45px;
	background-color: rgb(243,243,243);
	line-height: 45px;
	width: 100%;
	text-align: left;
	padding-left: 6px;
	color: rgb(18,119,220);
}
.main table th img{
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.type{
	height:86px;
	line-height: 86px; 
}
.type input,.size input,.meterials input{
	margin-left: 30px;
}
.type label,.size label,.meterials label{
	margin:0 40px 0 17px; 
}
.type select{
	float: right;
	margin: 33.5px 20px;
}
.size{
	height:140px; 
	padding-top:0px;
}
.Dimensions{
	height: 30px;
	width: 70px;
} 
.size span{
	margin: 0 40px 0 20px;
}
.size select{
	float: right;
	margin: -23.5px 20px 0;
}
.meterials{
	height: 140px;
	line-height: 140px;
}
.meterials select{
	float: right;
	margin:65px 20px;
}
#submit{
	width: 180px;
	height: 45px;
	color: white;
	background-color: rgb(227,79,79);
	border: none;
	border-radius: 4px;
	font-size: 22px;
	margin: auto;
	display: block;
	margin-top: 140px;
	cursor: pointer;
}
.footer{
	height: 238px;
	background-color: rgb(249,249,249);
}
.contact{
	height:93px;
	width: 248px;
	float: right;
	position: relative;
	top: -80px;
}
.information{
	width: 1200px;
	height: 238px;
	margin: auto;
}
.contact img{
	float: right;
}
.contact p{
	font-size:17px;
	color: #999;
	width: 60%;
	line-height: 31px;
}
.information table{
	margin:40px auto 0;
}
.information table td{
	height: 40px;
}
.information table a{
	text-decoration: none;
	color: rgb(153,153,153);
	margin: 22px;
}
.information table a:hover{
	color: #1d7ad9;
}
.information span{
	position: relative;
	top :70px;
}
.copyright {
	height:33px;
	background-color:#1d7ad9;
	color: white;
	line-height: 33px;

}
.copyright p{
	width: 70%;
	margin: auto;
}
